#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 675px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the body takes up the full height of the viewport */
  margin: 0; /* Removes default body margin */
  background-image: url("gameBG.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#spinButton{
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  padding: 20px;
  border-radius: 70px;
  background: linear-gradient(180deg, rgba(190,75,75,1) 0%, rgba(199,77,77,1) 20%, rgba(154,0,0,1) 100%);
  color: white;
  border-color: white;
}

